.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar .logo {
  font-size: 24px;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}
